<div class="row">
  <%= render partial: 'left_side_bar', locals: { taxonmies: @taxonomies } %>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <%= render 'filter_area' %>
    <div class="row">
      <% products.each do |product| %>
        <div class="col-sm-4 col-xs-12">
          <div class="productBox">
            <div class="productImage clearfix">
              <%= link_to potepan_product_path(product.id) do %>
                <%= image_tag(product.display_image.attachment(:product)) %>
              <% end %>
            </div>
            <div class="productCaption clearfix">
              <%= link_to potepan_product_path(product.id) do %>
                <h5><%= product.name %></h5>
                <h3><%= product.display_price %></h3>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
