<% provide(:title, @taxon.name) %>
<%= render 'light_section', taxon: @taxon %>
<section class="mainContent clearfix produxtsContent">
  <div class="container">
    <%= render 'product', products: @products %>
  </div>
</section>
<%= render 'under_light_section' %>
