<div class="productBox">
  <% related_products.each do |related_product| %>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <%= link_to potepan_product_path(related_product.id) do %>
        <div class="productImage clearfix">
          <%= image_tag related_product.display_image.attachment.url %>
        </div>
        <div class="productCaption cleatfix">
          <h5><%= related_product.name %></h5>
          <h3><%= related_product.display_price %></h3>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
